In [1]:
#!pip install finbert-embedding
import pandas as pd
import numpy as np
import itertools
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
import re

In [2]:
data = pd.read_csv('Combined_News_DJIA.csv')
data.head(5)

         Date  ...                                              Top25
0  2008-08-08  ...           b"No Help for Mexico's Kidnapping Surge"
1  2008-08-11  ...  b"So this is what it's come to: trading sex fo...
2  2008-08-12  ...  b"BBC NEWS | Asia-Pacific | Extinction 'by man...
3  2008-08-13  ...  b'2006: Nobel laureate Aleksander Solzhenitsyn...
4  2008-08-14  ...  b'Philippines : Peace Advocate say Muslims nee...

[5 rows x 27 columns]

# Data Cleaning

In [ ]:
def getCleanTweet(text):
    tok = WordPunctTokenizer()
    user_pattern = '@[A-Za-z0-9_]+'
    http_pattern = 'https?://[^ ]+'
    www_pattern = 'www.[^ ]+'
    combined_pattern = '|'.join((user_pattern, http_pattern, www_pattern))
    negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                    "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                    "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                    "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                    "mustn't":"must not"}
    neg_pattern = re.compile('\b(' + '|'.join(negations_dic.keys()) + ')\b')
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    try:
        bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        bom_removed = souped
    stripped = re.sub(combined_pattern, '', bom_removed)
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], stripped)
    letters_only = re.sub("[^a-zA-Z]", " ", neg_handled).lower()
    cleaned = (" ".join(x for x in tok.tokenize(letters_only) if len(x) > 1)).strip()
    cleaned = ''.join(k + k if sum(1 for i in g) > 1 else k for k, g in itertools.groupby(cleaned))
    return cleaned

# Vader For Sentiment score

In [3]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 11.7MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.11.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [4]:

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

def sentiment_analyzer_scores(sentence):
    score = analyser.polarity_scores(sentence)
    return score

In [5]:
data.isna().sum()
import numpy as np
data_clean = data.replace(np.nan, '', regex=True)
data_clean = data_clean.drop(columns=['Date','Label'],axis=1)
print(data_clean.isna().sum())
data_clean.head(5)

Top1     0
Top2     0
Top3     0
Top4     0
Top5     0
Top6     0
Top7     0
Top8     0
Top9     0
Top10    0
Top11    0
Top12    0
Top13    0
Top14    0
Top15    0
Top16    0
Top17    0
Top18    0
Top19    0
Top20    0
Top21    0
Top22    0
Top23    0
Top24    0
Top25    0
dtype: int64

                                                Top1  ...                                              Top25
0  b"Georgia 'downs two Russian warplanes' as cou...  ...           b"No Help for Mexico's Kidnapping Surge"
1  b'Why wont America and Nato help us? If they w...  ...  b"So this is what it's come to: trading sex fo...
2  b'Remember that adorable 9-year-old who sang a...  ...  b"BBC NEWS | Asia-Pacific | Extinction 'by man...
3  b' U.S. refuses Israel weapons to attack Iran:...  ...  b'2006: Nobel laureate Aleksander Solzhenitsyn...
4  b'All the experts admit that we should legalis...  ...  b'Philippines : Peace Advocate say Muslims nee...

[5 rows x 25 columns]

In [6]:
data_score=data_clean.applymap(sentiment_analyzer_scores)

In [7]:
data_score.head(5)

                                                Top1  ...                                              Top25
0  {'neg': 0.262, 'neu': 0.738, 'pos': 0.0, 'comp...  ...  {'neg': 0.0, 'neu': 0.649, 'pos': 0.351, 'comp...
1  {'neg': 0.09, 'neu': 0.68, 'pos': 0.23, 'compo...  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
2  {'neg': 0.169, 'neu': 0.656, 'pos': 0.175, 'co...  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
3  {'neg': 0.462, 'neu': 0.538, 'pos': 0.0, 'comp...  ...  {'neg': 0.194, 'neu': 0.806, 'pos': 0.0, 'comp...
4  {'neg': 0.0, 'neu': 0.833, 'pos': 0.167, 'comp...  ...  {'neg': 0.0, 'neu': 0.67, 'pos': 0.33, 'compou...

[5 rows x 25 columns]

In [ ]:
data_score['Top1'][0]

{'compound': -0.5994, 'neg': 0.262, 'neu': 0.738, 'pos': 0.0}

In [ ]:
list(data_score['Top1'][0].values())[0]

0.262

In [8]:
data_pos=data_score.applymap(lambda x:x['pos'])

In [9]:
data_pos

       Top1   Top2   Top3   Top4   Top5  ...  Top21  Top22  Top23  Top24  Top25
0     0.000  0.000  0.000  0.000  0.000  ...  0.000  0.000  0.000  0.000  0.351
1     0.230  0.000  0.209  0.135  0.000  ...  0.000  0.159  0.000  0.263  0.000
2     0.175  0.000  0.187  0.095  0.000  ...  0.000  0.207  0.135  0.000  0.000
3     0.000  0.000  0.110  0.000  0.000  ...  0.000  0.242  0.000  0.000  0.000
4     0.167  0.000  0.359  0.000  0.088  ...  0.000  0.000  0.248  0.000  0.330
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
1984  0.144  0.174  0.000  0.180  0.464  ...  0.093  0.000  0.000  0.083  0.158
1985  0.456  0.065  0.346  0.315  0.000  ...  0.000  0.135  0.000  0.000  0.127
1986  0.000  0.000  0.459  0.000  0.105  ...  0.000  0.000  0.211  0.000  0.000
1987  0.000  0.106  0.213  0.000  0.000  ...  0.000  0.000  0.000  0.000  0.000
1988  0.000  0.000  0.252  0.000  0.000  ...  0.072  0.198  0.000  0.000  0.000

[1989 rows x 25 columns]

In [ ]:
data_score['Top1'][1].values()

dict_values([0.169, 0.656, 0.175, 0.0258])

In [10]:
data_neg = data_score.applymap(lambda x:x['neg'])
data_neg

       Top1   Top2   Top3   Top4   Top5  ...  Top21  Top22  Top23  Top24  Top25
0     0.262  0.000  0.172  0.247  0.397  ...  0.317  0.406  0.123  0.650  0.000
1     0.090  0.277  0.000  0.217  0.000  ...  0.643  0.159  0.204  0.323  0.000
2     0.169  0.000  0.289  0.236  0.000  ...  0.000  0.000  0.071  0.000  0.000
3     0.462  0.249  0.381  0.070  0.163  ...  0.355  0.000  0.402  0.167  0.194
4     0.000  0.000  0.000  0.412  0.265  ...  0.293  0.394  0.181  0.583  0.000
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
1984  0.203  0.000  0.481  0.220  0.000  ...  0.101  0.194  0.389  0.045  0.000
1985  0.147  0.120  0.141  0.000  0.324  ...  0.000  0.049  0.000  0.667  0.276
1986  0.000  0.277  0.000  0.096  0.270  ...  0.709  0.450  0.146  0.000  0.000
1987  0.000  0.226  0.000  0.281  0.294  ...  0.345  0.000  0.202  0.220  0.526
1988  0.104  0.146  0.000  0.302  0.216  ...  0.382  0.405  0.371  0.259  0.071

[1989 rows x 25 columns]

In [11]:
data_neu = data_score.applymap(lambda x:x['neu'])
data_neu

       Top1   Top2   Top3   Top4   Top5  ...  Top21  Top22  Top23  Top24  Top25
0     0.738  1.000  0.828  0.753  0.603  ...  0.683  0.594  0.877  0.350  0.649
1     0.680  0.723  0.791  0.647  1.000  ...  0.357  0.682  0.796  0.414  1.000
2     0.656  1.000  0.525  0.669  1.000  ...  1.000  0.793  0.794  1.000  1.000
3     0.538  0.751  0.508  0.930  0.837  ...  0.645  0.758  0.598  0.833  0.806
4     0.833  1.000  0.641  0.588  0.647  ...  0.707  0.606  0.571  0.417  0.670
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
1984  0.654  0.826  0.519  0.600  0.536  ...  0.806  0.806  0.611  0.871  0.842
1985  0.397  0.815  0.513  0.685  0.676  ...  1.000  0.816  1.000  0.333  0.596
1986  1.000  0.723  0.541  0.904  0.625  ...  0.291  0.550  0.643  1.000  1.000
1987  1.000  0.667  0.787  0.719  0.706  ...  0.655  1.000  0.798  0.780  0.474
1988  0.896  0.854  0.748  0.698  0.784  ...  0.546  0.397  0.629  0.741  0.929

[1989 rows x 25 columns]

In [12]:
data_comp = data_score.applymap(lambda x:x['compound'])
data_comp

        Top1    Top2    Top3    Top4  ...   Top22   Top23   Top24   Top25
0    -0.5994  0.0000 -0.3612 -0.7089  ... -0.6249 -0.2755 -0.8519  0.4019
1     0.5426 -0.3182  0.4404 -0.1965  ...  0.0000 -0.3182 -0.1832  0.0000
2     0.0258  0.0000 -0.1406 -0.6124  ...  0.5267  0.3818  0.0000  0.0000
3    -0.7184 -0.8074 -0.6369 -0.1280  ...  0.4939 -0.5719 -0.4215 -0.3400
4     0.2023  0.0000  0.6808 -0.8689  ... -0.5994  0.1779 -0.7178  0.7096
...      ...     ...     ...     ...  ...     ...     ...     ...     ...
1984 -0.2263  0.2732 -0.7579 -0.1027  ... -0.1027 -0.6249  0.2500  0.1280
1985  0.8316 -0.4588  0.4939  0.3182  ...  0.6369  0.0000 -0.7184 -0.8818
1986  0.0000 -0.6808  0.7783 -0.4854  ... -0.8402  0.2023  0.0000  0.0000
1987  0.0000 -0.6870  0.4019 -0.8934  ...  0.0000 -0.8720 -0.5423 -0.8750
1988 -0.5574 -0.0516  0.5719 -0.8658  ... -0.3818 -0.9618 -0.9432 -0.6249

[1989 rows x 25 columns]

In [13]:
data_pos['pos_mean'] = data_pos.mean(axis=1)
data_neg['neg_mean'] = data_neg.mean(axis=1)
data_neu['neu_mean'] = data_neu.mean(axis=1)
data_comp['comp_mean'] = data_comp.mean(axis=1)

In [15]:
data_pos

       Top1   Top2   Top3   Top4   Top5  ...  Top22  Top23  Top24  Top25  pos_mean
0     0.000  0.000  0.000  0.000  0.000  ...  0.000  0.000  0.000  0.351   0.03728
1     0.230  0.000  0.209  0.135  0.000  ...  0.159  0.000  0.263  0.000   0.06180
2     0.175  0.000  0.187  0.095  0.000  ...  0.207  0.135  0.000  0.000   0.06444
3     0.000  0.000  0.110  0.000  0.000  ...  0.242  0.000  0.000  0.000   0.05620
4     0.167  0.000  0.359  0.000  0.088  ...  0.000  0.248  0.000  0.330   0.08372
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...       ...
1984  0.144  0.174  0.000  0.180  0.464  ...  0.000  0.000  0.083  0.158   0.09048
1985  0.456  0.065  0.346  0.315  0.000  ...  0.135  0.000  0.000  0.127   0.09972
1986  0.000  0.000  0.459  0.000  0.105  ...  0.000  0.211  0.000  0.000   0.09188
1987  0.000  0.106  0.213  0.000  0.000  ...  0.000  0.000  0.000  0.000   0.07012
1988  0.000  0.000  0.252  0.000  0.000  ...  0.198  0.000  0.000  0.000   0.07616

[1989 rows x 26 columns]

In [24]:
frames = [data['Date'],data_pos['pos_mean'], data_neg['neg_mean'], data_neu['neu_mean'],data_comp['comp_mean']]
result = pd.concat(frames, axis=1)
result.head(5)

         Date  pos_mean  neg_mean  neu_mean  comp_mean
0  2008-08-08   0.03728   0.19956   0.76320  -0.354260
1  2008-08-11   0.06180   0.16404   0.77408  -0.158716
2  2008-08-12   0.06444   0.14580   0.78980  -0.191800
3  2008-08-13   0.05620   0.14432   0.79944  -0.141844
4  2008-08-14   0.08372   0.16136   0.75488  -0.136908